.header-body{
    width: 80vw;
    min-height:80vh;
    margin: auto;
    background-image:url('/header_img.png');
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 30px;
    padding-top: 30px;

    
}
.header-title{
    padding-top: 50px;
    font-size: 50px;
    color:white;
    margin-bottom: 20px;
}
.header-text{
    display: block;
    color:white;
    font-size: 17px;
    margin-bottom: 20px;
    padding-right: 10px;
}
.header-btn{
    margin-top: 20px;
    padding: 15px;
    border-radius: 25px;
    border:none;
    transition: 0.2s;
    color:gray;
}
.header-btn:hover{
    outline: 2.5px solid white;
    outline-offset: 3px;
}
@media  ( max-width:774px){
    .header-text{
        display: none;
    }
    .header-body{
        
        margin: 0 auto;
      width: 95vw;
      background-position: bottom;
        background-size: cover contain; 
         
         background-color: rgba(0, 0, 0, 0.4); /* dim layer */
  
 
    }
    .tomato{
        width: 100px;
    }
}
